IMAGES/WORLDVIEW 2/WORKING FILES/pansharp_ground_control.txt
*.prj
*.hdr
*.ovr
*.shp
*.shx
*.dbf
*.xml
*.TIL
*.TIF
*.TXT
*.tfw
*.sbx
*.qpj
*.sbn
*.cpg
*.mxd
*.qgs
*.RPB
*.JPG
*.IMD
*.gz
*.grp
*.nit
*.sta
*.ini
*.dat
*.adf
*.lock
*.lyr
*.evf
*.vrt
*.png